<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="76ae94">  <td>19/01/30 00:35:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationPageTest.setup()[pri:0, instance:tests.RegistrationPageTest@224edc67]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/01/30 00:35:21</td>   <td>11199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationPageTest.verifyRegistration(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.RegistrationPageTest@224edc67]">verifyRegistration</td> 
  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/01/30 00:35:28</td>   <td>18265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationPageTest.tearDown()[pri:0, instance:tests.RegistrationPageTest@224edc67]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/01/30 00:35:29</td>   <td>18508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationPageTest.setup()[pri:0, instance:tests.RegistrationPageTest@224edc67]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/01/30 00:35:38</td>   <td>27437</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationPageTest.verifyRegistration(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.RegistrationPageTest@224edc67]">verifyRegistration</td> 
  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/01/30 00:35:45</td>   <td>34702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationPageTest.tearDown()[pri:0, instance:tests.RegistrationPageTest@224edc67]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/01/30 00:35:45</td>   <td>34790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationPageTest.setup()[pri:0, instance:tests.RegistrationPageTest@224edc67]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/01/30 00:35:53</td>   <td>43103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationPageTest.verifyRegistration(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.RegistrationPageTest@224edc67]">verifyRegistration</td> 
  <td>main@1061804750</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/01/30 00:36:00</td>   <td>49438</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationPageTest.tearDown()[pri:0, instance:tests.RegistrationPageTest@224edc67]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1061804750</td>   <td></td> </tr>
</table>
