<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9da5bd">  <td>19/02/03 16:09:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setup()[pri:0, instance:tests.HomePageTest@704d6e83]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1218593486</td>   <td></td> </tr>
<tr bgcolor="7c7871">  <td>19/02/03 16:09:21</td>   <td>19056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setup()[pri:0, instance:tests.LoginPageTest@481a15ff]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1218593486</td>   <td></td> </tr>
<tr bgcolor="7c7871">  <td>19/02/03 16:09:39</td>   <td>36932</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setup()[pri:0, instance:tests.LoginPageTest@481a15ff]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1218593486</td>   <td></td> </tr>
<tr bgcolor="7c7871">  <td>19/02/03 16:09:57</td>   <td>54620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setup()[pri:0, instance:tests.LoginPageTest@481a15ff]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1218593486</td>   <td></td> </tr>
<tr bgcolor="ec78b9">  <td>19/02/03 16:10:15</td>   <td>73129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationPageTest.setup()[pri:0, instance:tests.RegistrationPageTest@646007f4]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1218593486</td>   <td></td> </tr>
<tr bgcolor="ec78b9">  <td>19/02/03 16:10:32</td>   <td>89529</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationPageTest.setup()[pri:0, instance:tests.RegistrationPageTest@646007f4]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1218593486</td>   <td></td> </tr>
<tr bgcolor="ec78b9">  <td>19/02/03 16:10:48</td>   <td>105475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RegistrationPageTest.setup()[pri:0, instance:tests.RegistrationPageTest@646007f4]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1218593486</td>   <td></td> </tr>
<tr bgcolor="9da5bd">  <td>19/02/03 16:09:19</td>   <td>16736</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:tests.HomePageTest@704d6e83]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1218593486</td>   <td></td> </tr>
<tr bgcolor="7c7871">  <td>19/02/03 16:09:39</td>   <td>36820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:tests.LoginPageTest@481a15ff]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1218593486</td>   <td></td> </tr>
<tr bgcolor="7c7871">  <td>19/02/03 16:09:57</td>   <td>54496</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:tests.LoginPageTest@481a15ff]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1218593486</td>   <td></td> </tr>
<tr bgcolor="7c7871">  <td>19/02/03 16:10:15</td>   <td>72265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.tearDown()[pri:0, instance:tests.LoginPageTest@481a15ff]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1218593486</td>   <td></td> </tr>
<tr bgcolor="ec78b9">  <td>19/02/03 16:10:30</td>   <td>87400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationPageTest.tearDown()[pri:0, instance:tests.RegistrationPageTest@646007f4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1218593486</td>   <td></td> </tr>
<tr bgcolor="ec78b9">  <td>19/02/03 16:10:48</td>   <td>105355</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationPageTest.tearDown()[pri:0, instance:tests.RegistrationPageTest@646007f4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1218593486</td>   <td></td> </tr>
<tr bgcolor="ec78b9">  <td>19/02/03 16:11:05</td>   <td>122877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RegistrationPageTest.tearDown()[pri:0, instance:tests.RegistrationPageTest@646007f4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1218593486</td>   <td></td> </tr>
<tr bgcolor="7c7871">  <td>19/02/03 16:09:29</td>   <td>26601</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.verifyLogin()[pri:0, instance:tests.LoginPageTest@481a15ff]">verifyLogin</td> 
  <td>main@1218593486</td>   <td></td> </tr>
<tr bgcolor="7c7871">  <td>19/02/03 16:09:47</td>   <td>45143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.verifyLogin()[pri:0, instance:tests.LoginPageTest@481a15ff]">verifyLogin</td> 
  <td>main@1218593486</td>   <td></td> </tr>
<tr bgcolor="7c7871">  <td>19/02/03 16:10:05</td>   <td>62425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.verifyLogin()[pri:0, instance:tests.LoginPageTest@481a15ff]">verifyLogin</td> 
  <td>main@1218593486</td>   <td></td> </tr>
<tr bgcolor="9da5bd">  <td>19/02/03 16:09:11</td>   <td>9177</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyLoginLink()[pri:0, instance:tests.HomePageTest@704d6e83]">verifyLoginLink</td> 
  <td>main@1218593486</td>   <td></td> </tr>
<tr bgcolor="ec78b9">  <td>19/02/03 16:10:22</td>   <td>79828</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationPageTest.verifyRegistration(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.RegistrationPageTest@646007f4]">verifyRegistration</td> 
  <td>main@1218593486</td>   <td></td> </tr>
<tr bgcolor="ec78b9">  <td>19/02/03 16:10:41</td>   <td>98656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationPageTest.verifyRegistration(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.RegistrationPageTest@646007f4]">verifyRegistration</td> 
  <td>main@1218593486</td>   <td></td> </tr>
<tr bgcolor="ec78b9">  <td>19/02/03 16:10:58</td>   <td>115819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegistrationPageTest.verifyRegistration(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.RegistrationPageTest@646007f4]">verifyRegistration</td> 
  <td>main@1218593486</td>   <td></td> </tr>
</table>
